#equipment, #musclegroup {
  display: inline-block;
  border: 2px solid #000;
  padding: 3px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline: none;
  line-height: 1.2;
  background: #f8f8f8;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
}
