
#logo {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.icons {
  display: block;
  float: left;
  width: 40px;
  margin-left: 5px;
}
.register, .login {
  display: none;
}

header {
  background-color: black;
  height: 100px;
}

#logo {
  width: 100px;
}

#register_sucess {
  display: none;
  color: white;
}
