body {
  background-image: url("../images/femalebodybuilding1.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

* p {
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
}

header {
  width: 100%;
}

header nav ul {
  text-align: center;
  padding-top: 1%;
}

header ul li {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  outline: 1px solid white;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  display: block;
  margin: 3% auto;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  color: black;
  text-align: center;
  background-color: white;
  width: 250px;
  border-radius: 15px;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-left: 28px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-decoration: underline;
}

footer {
 position: fixed;
 bottom: 0px;
 height: 60px;
 width: 100%;
 background-color: #000;
 padding-bottom: 10px;
}

footer nav {
  padding-top: 5px;
}

footer ul {
  text-align: center;
}

footer ul li {
 width: 100%;
 display: inline;
}

footer p {
 padding-top: 5px;
 text-align: center;
 text-decoration: none;
 font-family: 'Julius Sans One', sans-serif;
 color: white;
 background-color: #000;
}

.icons {
 width: 35px;
}

@media only screen and (min-width: 480px) {
  body {
    background-image: url("../images/bodybuilding1.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  h1 {
    display: block;
    margin: 3% auto;
    font-family: 'Cinzel', serif;
    font-size: 80px;
    color: white;
    text-align: center;
    background: transparent;
    width: 500px;
  }

  header ul li {
    display: inline;
    width: 100%;
    outline: none;
    font-size: 40px;
    cursor: pointer;
    padding: 5%;
  }

  h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 5% auto;
    font-size: 30px;
  }

  .about-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }

  * p {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
  }

  footer {
   position: fixed;
   bottom: 0px;
   height: 60px;
   width: 100%;
   background-color: #000;
   padding-bottom: 10px;
  }

  footer nav {
    padding-top: 5px;
  }

  footer ul {
    text-align: center;
  }

  footer ul li {
   width: 100%;
   display: inline;
  }

  footer p {
   padding-top: 5px;
   text-align: center;
   text-decoration: none;
   font-family: 'Julius Sans One', sans-serif;
   color: white;
   background-color: #000;
  }

  .icons {
   width: 35px;
  }
}
