/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Josefin Slab', serif;
*/

body {
  background-image: url("../images/femalebodybuilding1.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  color: #ebf2f9;
}

header {
  height: 60px;
}
header ul {
  position: absolute;
  top: 0;
  right: 0;
}

header ul li {
  margin: 10px;
  font-size: 15px;
  font-family: arial;
  text-align: right;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 10px
}

#filters {
  display: block;
  text-align: center;
  margin: 15px;
}

.nav-btns {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  height: 70px;
}

.nav-btns button {
  width: 110px;
  margin: 10px;
  color: white;
  cursor: pointer;
  border: 1px solid rgba(180, 180, 180, 0.7);
  border-radius: 15px;
  background-color: rgba(80, 80, 80, 0.5);
  padding: 5px;
}

#equipment, #category, #save-result select{
  width: 45%;
  border: 2px solid #000;
  padding: 3px 3px 3px 5px;
  margin: 0 auto;
  font: inherit;
  outline: none;
  line-height: 1.2;
  background: #f8f8f8;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#save-result select {
  display: block;
  margin: 0;
}

#save-result input {
  display: inline-block;
  margin: 0;
}

#save-result {
  text-align: left;
  position: relative;
  background: white;
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 80px;
}

#save-result h2 {
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

#save-result button {
  position: absolute;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 0px 0px 60px 0px;
  text-align: left;
  font-style: italic;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(160,100,100)
}

#save-result #back {
  top: 0;
  left: 0;
}

#save-result form button {
  bottom: 0;
  right: 0;
  border-radius: 60px 0 0 0;
  background-color: rgba(100, 160, 100, 0.9);
  text-align: right;
}

.workout-result {
    border-radius: 25px;
    padding: 10px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
    background: white;
    opacity: .9;
}

.workout-result button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    border-radius: 0 25px 25px 0;
    width: 25%;
}

main {
  padding-bottom: 50px;
}

footer {
 position: fixed;
 bottom: 0px;
 height: 5%;
 width: 100%;
 background-color: #000;
 padding-bottom: 5%;
}

footer nav {
  padding-top: 5px;
}

footer ul {
  text-align: center;
}

footer ul li {
 width: 100%;
 display: inline;
 margin: 0 5px;
}

footer p {
 padding-top: 2%;
 text-align: center;
 text-decoration: none;
 font-family: 'Julius Sans One', sans-serif;
 color: white;
 background-color: #000;
}


.icons {
 width: 35px;
 height: 35px;
}

@media screen and (min-width: 800px) {

  body {
    background-image: url("../images/bodybuilding1.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
  }

  h1 {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: white;
  }

  header ul li {
    clear: both;
    display: block;
    float: right;
    margin-bottom: 10px;
  }

  header nav ul li a {
    text-decoration: none;
    color: white;
  }

  main {
    margin-top: 100px;
  }

/* Bottom of Page */
footer {
  height: 70px;
  padding: 0;
}

footer nav {
  text-align: left;
  float: left;
}

.icons {
  clear:both;
  width: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer p {
  clear: both;
  position: absolute;
  top: 0.25%;
  right: 1%;
  margin-right: 5%;
  text-align: right;
  color: white;
}

#save-result {
  width: 60%;
}

#search-results {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.workout-result {
  text-align: left;
  display: inline-block;
  width: 40%;
  margin: 1%;
}

}

@media screen and (min-width: 1900px) {

  footer {
    height: 25px;
  }

  footer ul {
    text-align: left;
  }

  .icons {
    clear:both;
    width: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;
  }

  footer p {
    clear:both;
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    margin-top: -40px;
    text-align: center;
    color: white;
  }


}
/* footer p {
clear:both;
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
color: white;
} */
